[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==3.2.10"
pytz = "==2020.1"
sqlparse = "==0.3.1"
django-heroku = "*"
django-cors-headers = "*"
django = "*"
dj-database-url = "*"
psycopg2 = "==2.8.6"
django-taggit = "==1.3.0"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
