{% extends 'base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <table>
      {{ form.post_text}}
      <p>{{ form.public.label}} {{form.public}}</p>
      {% comment %} <p>Tags:</p> {% endcomment %}
      {% comment %} <input type="text" name="tags" data-role="tagsinput" value="{% for tag in apology.tags.all %}{{tag}}{% endfor %}"> {% endcomment %}
      
      
      {% comment %} <p>{{form.tags}}</p>  {% endcomment %}
    </table>
    <input type="submit" value="Submit">
  </form>

  <a href="{% url 'profile' user %}">Back to Profile</a><br />
  <a class="apology-delete" href="{% url 'apology_delete' apology.id%}">Delete Letter</a>
{% endblock %}