@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.page-content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
}

h1, h2 {
  font-family: 'Vollkorn', serif;
}

p {
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  font-family: 'Peddana', serif;
  font-size: 25px;
  color: darkred;
}

.error-message  {
  
  font-family: 'Peddana', serif;
  font-size: 25px;
  color: darkred; 
  list-style: none;

}

.tag {
  border: 1px solid #000;
}