{% extends 'base.html' %}
{% block content %}
  <form method="post">
    {% csrf_token %}

    {% for field in form %}
    <p>
      {{ field.label_tag }}
      {{ field }}
      {% if field.errors %}
        {{field.errors}}
      {% endif %}
    </p>
    {% endfor %}

    {% if login_form.non_field_errors %}
      <div>
        {% for error in login_form.non_field_errors %}
          <p class="error-message">{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <input type="submit" value="Save Changes">
  
  </form>
{% endblock %}