{% extends 'base.html' %}

{% block content %}

<h1>Login</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in login_form %}
      <p>
        {{ field.label_tag }}
        {{ field }}

        {% if field.help_text %}
          <small>{{ field.help_text }}</small>
        {% endif %}

        {% for error in field.errors %}
          <p>{{ error }}</p>
        {% endfor %}

        {% comment %} 
        Non field error handles errors with the entire form
        Not just a specific field in that form
        {% endcomment %}
        {% if login_form.non_field_errors %}
          <div>
            <p>{{login_form._non_field_errors}}</p>
          </div>
        {% endif %}

      </p>
    {% endfor %}

    <input type="submit" value="Login" />
  </form>

{% endblock %}