{% extends 'base.html' %}

{% block content %}
  <h1>Apology Index</h1>
  {% comment %} {% for apology in apologies %}
  <p>{{apology}}</p>
  <p> - {{apology.user.display_name}}</p>
  <p> ---%%---
  {% endfor %} {% endcomment %}

  {% for apology in page_obj %}
    <p>{{apology}}</p>
    <p> - {{apology.user.display_name}}</p>
  {% endfor %}

  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        {% comment %} <a href="?page=1">&laquo; first</a> {% endcomment %}
        <a href="?page={{page.obj.previous_page_number}}">previous</a>
      {% endif %}
      {% comment %} <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span> {% endcomment %}
      {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">next</a>
        {% comment %} <a href="?page={{page_obj.paginator.num_pages}}">last &raquo;</a> {% endcomment %}
      {% endif %}
    </span>
  </div>


  {% if apologies.has_other_pages %}
  {% endif %}
{% endblock %}