{% extends 'base.html' %}

{% block content %}
  <h1>Letters</h1>

  {% for apology in page_obj %}
    {% if apology.tags.all %}
      <p class="content-warning" style="font-family: 'Vollkorn', serif; display: inline;">Content Warning:
      {% for tag in apology.tags.all %}<small>{{tag}} | </small>{% endfor %}
       </p>
    {% endif %}
    <p class="apology-text" style="max-width: 300px;">{{apology}}</p>
    <p style="font-family: 'Vollkorn', serif;"> - {{apology.user.display_name}}</p>
  {% endfor %}

  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">previous</a>
      {% endif %}
      {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">next</a>
      {% endif %}
    </span>
  </div>



{% endblock %}